@model Distribuidora.Models.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadePedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadePedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorUnitarioPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorUnitarioPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotalPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotalPedido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PedidoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
